extends layout

block content
  h1= title
  a(href="http://localhost:3000/new") Write a message
  //- p #{chatLog}
  ul
    each entry in chatLog
      li 
        p #{entry.text} 
        p from #{entry.user} 
        p #{entry.added} 
